<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <title>Func Token Wallet</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32">
    <script src="js/web3.min.js"></script>
    <script src="js/vue.js"></script>

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body style="background-image: url(images/hero_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top; ">

    <div id="start" class="container" v-if="show" style="padding-left: 25%; padding-top: 15%">
        <h1>Your MetaMask is locked</h1>
        <h3>Simply open MetaMask and unlock your account</h3>
        <h3>If you don't know MetaMask <a target="_blank" href="https://youtu.be/tfETpi-9ORs">click here</a></h3>
    </div>

    <div id="signIn" class="container" v-if="show" style="padding-left: 35%; padding-top: 10%">
        <h4>
            <label>Wallet Address</label>
            <br>
            <input class="input-lg" type="text" maxlength="100" readonly="" v-model="address">
        </h4>
        <h4>
            <label>First Name</label>
            <br>
            <input class="input-lg" type="text" placeholder="Felix" maxlength="40" v-model="firstname">
        </h4>
        <h4>
            <label>Last Name</label>
            <br>
            <input class="input-lg" type="text" placeholder="Lee" maxlength="40" v-model="lastname">
        </h4>
        <h4>
            <label>Email Address</label>
            <br>
            <input class="input-lg" type="email" placeholder="example@gmail.com" maxlength="100" v-model="email">
        </h4>
        <!--<h4>
            <label>BTC Address</label>
            <br>
            <input class="input-lg" type="text" placeholder="" maxlength="100" v-model="btcaddress">
        </h4>-->
        <button class="btn btn-primary btn-outline" v-on:click="signIn">Sign In</button>
    </div>

    <div class="row" style="padding-left: 25px">
        <div id="wallet" class="col-md-5" v-if="show">
            <p class="page-header" style="color:wheat;">
                Wallet
                <button class="btn btn-primary btn-outline" v-on:click="refresh">Refresh</button>
            </p>
            <ul class="list-group">
                <li class="list-group-item">Address {{ address }}
                <li class="list-group-item">Ether Balance {{ etherBalance }}
                <li class="list-group-item">BitCoin Balance <p id="bitCoinBalance"></p>
                <li class="list-group-item">
                    Number Of Tokens <p id="tokens"></p>
                </li>
            </ul>
        </div>

        <div id="tokens" class="col-md-5" v-if="show">
            <p class="page-header" style="color:wheat;">
                Buy Tokens
                <button class="btn btn-primary btn-outline" v-on:click="refresh">Refresh</button>
            </p>
            <ul class="list-group">
                <li class="list-group-item">Token Price (ETH) <span id="tokenPriceETH" />
                <li class="list-group-item">Token Price (USD) <span id="tokenPriceUSD" />
                <li class="list-group-item">
                    Amount <label>
                        <input class="input-lg" type="number"
                               v-model.number="amount">
                    </label>
                    <button class="btn btn-primary btn-outline" v-on:click="buyTokens">Buy</button>
                </li>
            </ul>
        </div>
    </div>

    <div id="transactions" class="row" style="padding-left: 25px; visibility: hidden;">

        <div class="col-md-5">
            <p class="page-header" style="color:wheat;">ETH Transactions</p>
            <table class="table">
                <thead>
                    <tr class="text-info">
                        <th>Date</th>
                        <th>Eth Amount</th>
                        <th>Token Amount</th>
                    </tr>
                </thead>
                <tbody id="ethTransactionsTable"></tbody>
            </table>
        </div>

        <div class="col-md-5">
            <p class="page-header" style="color:wheat;">Bitcoin Transactions</p>
            <table class="table">
                <thead>
                    <tr class="text-info">
                        <th>Date</th>
                        <th>Payment (BTC)</th>
                        <th>Fee (BTC)</th>
                    </tr>
                </thead>
                <tbody id="bitCoinTransactionsTable"></tbody>
            </table>
        </div>
    </div>

    <div class="row" style="padding-left: 25px">
        <div id="ownerPanel" class="col-md-6" v-if="show">
            <p class="page-header" style="color:wheat;">
                Owner Panel
                <button class="btn btn-primary btn-outline" v-on:click="refreshPanel">Refresh</button>
            </p>
            <ul class="list-group">
                <li class="list-group-item">Number Of All Tokens {{ numberOfAllTokens }}
                <li class="list-group-item">Number Of Available Tokens {{ numberOfAvailableTokens }}
                <li class="list-group-item">Number Of Sold Tokens {{ numberOfSoldTokens }}
                <li class="list-group-item">Delay Days {{ delayDays }}
                <li class="list-group-item">Charge Price (USD) {{ chargePrice }}
                <li class="list-group-item">
                    Set Token Price (USD) <label>
                        <input class="input-lg" type="number" step="0.01"
                               v-model.number="price">
                    </label>
                    <button class="btn btn-primary btn-outline" v-on:click="setTokenPrice">Set</button>
                <li class="list-group-item">
                    Set Number Of All Tokens <label>
                        <input class="input-lg" type="number"
                               v-model.number="amount">
                    </label>
                    <button class="btn btn-primary btn-outline" v-on:click="setAllTokens">Set</button>
                <li class="list-group-item">
                    Set Contract Owner <label>
                        <input class="input-lg" type="text"
                               v-model="contractOwnerAddress">
                    </label>
                    <button class="btn btn-primary btn-outline" v-on:click="setContractOwner">Set</button>
                <li class="list-group-item">
                    Set Delay Days <label>
                        <input class="input-lg" type="number"
                               v-model.number="delayDaysToSet">
                    </label>
                    <button class="btn btn-primary btn-outline" v-on:click="setDelayDays">Set</button>
                <li class="list-group-item">
                    Set Charge Price (USD) <label>
                        <input class="input-lg" type="number" step="0.01"
                               v-model.number="chargePriceToSet">
                    </label>
                    <button class="btn btn-primary btn-outline" v-on:click="setChargePrice">Set</button>
                </li>
            </ul>
        </div>
        <div id="addedTokens" class="col-md-5" style="visibility: hidden">
            <p class="page-header" style="color:wheat;">Added Tokens</p>
            <table class="table">
                <thead>
                    <tr class="text-info">
                        <th>Date</th>
                        <th>Token Amount</th>
                    </tr>
                </thead>
                <tbody id="addedTokensTable"></tbody>
            </table>
        </div>
    </div>
    <div id="userList" class="row" style="padding-left: 25px;visibility: hidden;">
        <div class="col-md-10">
            <p class="page-header" style="color:wheat;">User List</p>
            <table class="table">
                <thead>
                    <tr class="text-info">
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>ETH Address</th>
                        <th>BTC Address</th>
                        <th>Tokens</th>
                        <th>BTC Balance</th>
                        <th>Unpaid BTC</th>
                        <th>Paid BTC</th>
                    </tr>
                </thead>
                <tbody id="userListTable"></tbody>
            </table>
        </div>
    </div>
    <div id="ethTransactionList" class="row" style="padding-left: 25px;visibility: hidden;">
        <div class="col-md-10">
            <p class="page-header" style="color:wheat;">ETH Transaction List</p>
            <table class="table">
                <thead>
                    <tr class="text-info">
                        <th>Date</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Sender</th>
                        <th>ETH Amount</th>
                        <th>Token Amount</th>
                        <th>ETH Price</th>
                        <th>Token Price</th>
                        <th>Mining days</th>
                    </tr>
                </thead>
                <tbody id="ethTransactionListTable"></tbody>
            </table>
        </div>
    </div>
    <div id="paymentHistory" class="row" style="padding-left: 25px;visibility: hidden;">
        <div class="col-md-10">
            <p class="page-header" style="color:wheat;">Payment History</p>
            <table class="table">
                <thead>
                    <tr class="text-info">
                        <th>Date</th>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Receiver</th>
                        <th>BTC Amount</th>
                    </tr>
                </thead>
                <tbody id="paymentHistoryTable"></tbody>
            </table>
        </div>
    </div>

    <script>

        let start = new Vue({

            el: '#start',

            data: {
                show: false
            }
        });

        let signIn = new Vue({

            el: '#signIn',

            data: {
                show: false,
                address: null,
                firstname: null,
                lastname: null,
                email: null,
                btcaddress: null
            },

            methods: {
                getAddress() {
                    if (this.show)
                        this.address = ethAddress;
                },

                signIn() {
                    let xmlHttpRequest = XMLHTTPRequestAsync("php/setUser.php?firstname="
                        + this.firstname + "&lastname=" + this.lastname + "&email="
                        + this.email + "&ethaddress=" + this.address + "&btcaddress=" + this.btcaddress);

                    xmlHttpRequest.onload = function () {
                        if (xmlHttpRequest.readyState === 4) {
                            if (xmlHttpRequest.status === 200) {
                                alert(xmlHttpRequest.responseText);
                            }
                        }
                    };
                }
            }
        });

        let wallet = new Vue({

            el: '#wallet',

            data: {
                show: false,
                address: "",
                etherBalance: null,
                bitCoinBalance: null,
                tokens: null
            },

            methods: {
                getAddress() {
                    if (this.show)
                        this.address = ethAddress;
                },

                getEtherBalance() {
                    if (this.show)

                        contract._eth.getBalance(this.address, (error, balance) => {
                            if (!error) {
                                this.etherBalance = web3.fromWei(balance, 'ether').toNumber();
                            } else
                                console.log(error);
                        });
                },

                getBitCoinBalance() {
                    let xmlHttpRequest = XMLHTTPRequestAsync("php/getBalance.php?ethAddress=" + ethAddress);

                    xmlHttpRequest.onload = function () {
                        if (xmlHttpRequest.readyState === 4) {
                            if (xmlHttpRequest.status === 200) {
                                document.getElementById("bitCoinBalance").innerHTML = Number(xmlHttpRequest.responseText);
                            }
                        }
                    };
                },

                getNumberOfTokens() {
                    let xmlHttpRequest = XMLHTTPRequestAsync("php/getTokenAmount.php?ethAddress=" + ethAddress);

                    xmlHttpRequest.onload = function () {
                        if (xmlHttpRequest.readyState === 4) {
                            if (xmlHttpRequest.status === 200) {
                                document.getElementById("tokens").innerHTML = Number(xmlHttpRequest.responseText);
                            }
                        }
                    };
                },

                refresh: function () {
                    this.getAddress();
                    this.getEtherBalance();
                    this.getBitCoinBalance();
                    this.getNumberOfTokens();
                    getEthTransactionList();
                    getBitCoinTransactionList();
                }
            }
        });

        let tokens = new Vue({

            el: '#tokens',

            data: {
                show: false,
                amount: null
            },

            methods: {

                getTokenPrice() {
                    if (this.show)
                        contract.getTokenPrice(function (error, tokenPrice) {
                            if (!error) {
                                document.getElementById("tokenPriceUSD").innerHTML = tokenPrice.toNumber();
                            } else
                                console.log(error);
                        });
                },

                buyTokens: function () {
                    if (this.amount <= 0) {
                        alert('Invalid amount!');
                        this.amount = null;
                        return;
                    }

                    let amount = this.amount;
                    let sum = amount * document.getElementById("tokenPriceETH").innerHTML;
                    let etherSum = web3.toWei(sum, 'ether');

                    web3.eth.sendTransaction({
                        from: wallet.address,
                        to: contractOwnerAddress,
                        value: etherSum,
                        gasLimit: 21000,
                        gasPrice: 20000000000
                    }, function (error, result) {
                        if (!error) {

                            contract.buyTokens(amount, function (error, result) {
                                if (!error) {
                                    console.log(result);

                                    let startDate = (Date.now() / 1000) + (ownerPanel.delayDays * 24 * 60 * 60);

                                    let xmlHttpRequest = XMLHTTPRequestAsync("php/setEthTransaction.php?date="
                                        + (Date.now() / 1000) + "&sender=" + wallet.address + "&ethamount="
                                        + sum + "&tokenamount=" + amount + "&startdate=" + startDate
                                        + "&ethprice=" + ethPriceUSD + "&tokenprice=" + document.getElementById("tokenPriceUSD").innerHTML);

                                    xmlHttpRequest.onload = function () {
                                        if (xmlHttpRequest.readyState === 4) {
                                            if (xmlHttpRequest.status === 200) {
                                                console.log(xmlHttpRequest.responseText);
                                                this.amount = null;
                                            }
                                        }
                                    };

                                    let xmlHttpRequest1 = XMLHTTPRequestAsync("php/setTokenAmount.php?ethAddress=" + ethAddress + "&tokensToAdd=" + amount);

                                    xmlHttpRequest1.onload = function () {
                                        if (xmlHttpRequest1.readyState === 4) {
                                            if (xmlHttpRequest1.status === 200) {
                                                console.log(xmlHttpRequest.responseText);
                                            }
                                        }
                                    };

                                } else
                                    console.log(error);
                            });

                        }
                        else
                            console.error(error);
                    });
                },

                refresh: function () {
                    getPriceUSD();
                    this.getTokenPrice();
                }
            }
        });

        let ownerPanel = new Vue({

            el: '#ownerPanel',

            data: {
                show: false,
                numberOfAllTokens: null,
                numberOfAvailableTokens: null,
                numberOfSoldTokens: null,
                amount: null,
                price: null,
                contractOwnerAddress: null,
                delayDaysToSet: null,
                delayDays: null,
                chargePriceToSet: null,
                chargePrice: null
            },

            methods: {

                getNumberOfAllTokens() {
                    if (this.show)
                        contract.getNumberOfAllTokens((error, allTokens) => {
                            if (!error) {
                                this.numberOfAllTokens = allTokens.toNumber();
                            } else
                                console.log(error);
                        });
                },

                getNumberOfAvailableTokens() {
                    if (this.show)
                        contract.getNumberOfAvailableTokens((error, availableTokens) => {
                            if (!error) {
                                this.numberOfAvailableTokens = availableTokens.toNumber();
                            } else
                                console.log(error);
                        });
                },

                getNumberOfSoldTokens() {
                    if (this.show)
                        contract.getNumberOfSoldTokens((error, soldTokens) => {
                            if (!error) {
                                this.numberOfSoldTokens = soldTokens.toNumber();
                            } else
                                console.log(error);
                        });
                },

                //getDelayDays() {
                //    if (this.show)
                //        getDelayDays();
                //    //this.delayDays = delayDays;
                //},

                //getChargePrice() {
                //    if (this.show)
                //        getChargePrice();
                //    //this.chargePrice = chargePrice;
                //},

                setTokenPrice: function () {
                    if (this.price <= 0) {
                        alert('Invalid amount!');
                        this.price = null;
                        return;
                    }

                    contract.setTokenPrice(this.price, (error, result) => {
                        if (!error) {
                            console.log(result);

                            tokens.getTokenPrice();
                            getEthereumInfo();
                            this.price = null;

                        } else
                            console.log(error);
                    });
                },

                setAllTokens: function () {
                    if (this.amount <= 0) {
                        alert('Invalid amount!');
                        this.amount = null;
                        return;
                    }

                    let numberOfAllTokensTemp = this.numberOfAllTokens;
                    let amountTemp = this.amount;

                    contract.setNumberOfAllTokens(amountTemp, (error, result) => {
                        if (!error) {

                            let xmlHttpRequest = XMLHTTPRequestAsync("php/addToken.php?date="
                                + (Date.now() / 1000) + "&tokenamount=" + (amountTemp - numberOfAllTokensTemp));

                            xmlHttpRequest.onload = function () {
                                if (xmlHttpRequest.readyState === 4) {
                                    if (xmlHttpRequest.status === 200) {
                                        console.log(xmlHttpRequest.responseText);
                                    }
                                }
                            };

                            //let xmlHttpRequest2 = XMLHTTPRequestAsync("php/setNumberOfAllTokens.php?numberOfAllTokens=" + amountTemp);

                            //xmlHttpRequest2.onload = function () {
                            //    if (xmlHttpRequest2.readyState === 4) {
                            //        if (xmlHttpRequest2.status === 200) {
                            //            alert(xmlHttpRequest2.responseText);
                            //        }
                            //    }
                            //};

                            console.log(result);
                            this.getNumberOfAllTokens();
                            this.getNumberOfAvailableTokens();
                            this.getNumberOfSoldTokens();
                            getAddedTokens();
                            this.amount = null;
                        } else
                            console.log(error);
                    });
                },

                setContractOwner: function () {
                    if (this.contractOwnerAddress === null) {
                        alert('Invalid amount!');
                        this.contractOwnerAddress = null;
                        return;
                    }

                    contract.setContractOwner(this.contractOwnerAddress, (error, result) => {
                        if (!error) {
                            console.log(result);
                        } else
                            console.log(error);
                    });
                },

                setDelayDays: function () {
                    if (this.delayDaysToSet < 0) {
                        alert('Invalid amount!');
                        this.delayDaysToSet = null;
                        return;
                    }

                    let xmlHttpRequest = XMLHTTPRequestAsync("php/setDelayDays.php?delayDays=" + this.delayDaysToSet);

                    xmlHttpRequest.onload = function () {
                        if (xmlHttpRequest.readyState === 4) {
                            if (xmlHttpRequest.status === 200) {
                                alert(xmlHttpRequest.responseText);
                                getDelayDays();
                            }
                        }
                    };

                },

                setChargePrice: function () {
                    if (this.chargePriceToSet <= 0) {
                        alert('Invalid amount!');
                        this.chargePriceToSet = null;
                        return;
                    }

                    let xmlHttpRequest = XMLHTTPRequestAsync("php/setChargePrice.php?chargePrice=" + this.chargePriceToSet);

                    xmlHttpRequest.onload = function () {
                        if (xmlHttpRequest.readyState === 4) {
                            if (xmlHttpRequest.status === 200) {
                                alert(xmlHttpRequest.responseText);
                                getChargePrice();
                            }
                        }
                    };
                },

                refreshPanel: function () {
                    getPriceUSD();
                    tokens.getTokenPrice();
                    this.getNumberOfAllTokens();
                    this.getNumberOfAvailableTokens();
                    this.getNumberOfSoldTokens();
                    getDelayDays();
                    getChargePrice();
                    getUserList();
                    getEthTransactionList();
                    //getAddedTokens();
                    getBitCoinTransactionList();
                }
            }
        });

        if (typeof web3 === 'undefined') {
            changeView(true, false, false);
        }

        const config = {
            contractAddress: '0x206d0480b9af8348ebec37a56fc65e02f1d4a906',
            contractAbi: [
                {
                    "constant": true,
                    "inputs": [],
                    "name": "getNumberOfSoldTokens",
                    "outputs": [
                        {
                            "name": "",
                            "type": "uint256"
                        }
                    ],
                    "payable": false,
                    "stateMutability": "view",
                    "type": "function"
                },
                {
                    "constant": false,
                    "inputs": [
                        {
                            "name": "amount",
                            "type": "uint256"
                        }
                    ],
                    "name": "buyTokens",
                    "outputs": [],
                    "payable": true,
                    "stateMutability": "payable",
                    "type": "function"
                },
                {
                    "constant": true,
                    "inputs": [],
                    "name": "getNumberOfAllTokens",
                    "outputs": [
                        {
                            "name": "",
                            "type": "uint256"
                        }
                    ],
                    "payable": false,
                    "stateMutability": "view",
                    "type": "function"
                },
                {
                    "constant": true,
                    "inputs": [],
                    "name": "getContractOwner",
                    "outputs": [
                        {
                            "name": "",
                            "type": "address"
                        }
                    ],
                    "payable": false,
                    "stateMutability": "view",
                    "type": "function"
                },
                {
                    "constant": true,
                    "inputs": [],
                    "name": "getTokenPrice",
                    "outputs": [
                        {
                            "name": "",
                            "type": "uint256"
                        }
                    ],
                    "payable": false,
                    "stateMutability": "view",
                    "type": "function"
                },
                {
                    "constant": false,
                    "inputs": [
                        {
                            "name": "value",
                            "type": "uint256"
                        }
                    ],
                    "name": "setTokenPrice",
                    "outputs": [],
                    "payable": false,
                    "stateMutability": "nonpayable",
                    "type": "function"
                },
                {
                    "constant": false,
                    "inputs": [
                        {
                            "name": "value",
                            "type": "uint256"
                        }
                    ],
                    "name": "setNumberOfAvailableTokens",
                    "outputs": [],
                    "payable": false,
                    "stateMutability": "nonpayable",
                    "type": "function"
                },
                {
                    "constant": false,
                    "inputs": [
                        {
                            "name": "_address",
                            "type": "address"
                        }
                    ],
                    "name": "setContractOwner",
                    "outputs": [],
                    "payable": false,
                    "stateMutability": "nonpayable",
                    "type": "function"
                },
                {
                    "constant": false,
                    "inputs": [
                        {
                            "name": "value",
                            "type": "uint256"
                        }
                    ],
                    "name": "setNumberOfAllTokens",
                    "outputs": [],
                    "payable": false,
                    "stateMutability": "nonpayable",
                    "type": "function"
                },
                {
                    "constant": true,
                    "inputs": [],
                    "name": "getNumberOfAvailableTokens",
                    "outputs": [
                        {
                            "name": "",
                            "type": "uint256"
                        }
                    ],
                    "payable": false,
                    "stateMutability": "view",
                    "type": "function"
                },
                {
                    "inputs": [],
                    "payable": false,
                    "stateMutability": "nonpayable",
                    "type": "constructor"
                },
                {
                    "payable": true,
                    "stateMutability": "payable",
                    "type": "fallback"
                }
            ]
        };

        const contract = web3.eth.contract(config.contractAbi).at(config.contractAddress, (error, contract) => {
            return contract;
        });

        let ethAddress = contract._eth.coinbase;
        let btcPriceUSD = 0;
        let ethPriceUSD = 0;
        let contractOwnerAddress = "";
        //let delayDays = 0;
        //let chargePrice = 0;
        let pucharsers = [];
        let tokenAmountList = [];
        let startDateList = [];

        getPriceUSD();
        getContractOwner();
        getDelayDays();
        getChargePrice();
        getUserList();
        getEthTransactionList();
        getAddedTokens();
        getBitCoinTransactionList();

        function getPriceUSD() {

            let xmlHttpRequest = XMLHTTPRequestAsync("php/getPriceUSD.php");
            xmlHttpRequest.onload = function () {
                if (xmlHttpRequest.readyState === 4) {
                    if (xmlHttpRequest.status === 200) {
                        let jsonObject = JSON.parse(xmlHttpRequest.responseText);
                        btcPriceUSD = Number(jsonObject[0].price_usd);
                        ethPriceUSD = Number(jsonObject[1].price_usd);
                        if (document.getElementById("tokenPriceUSD")) {
                            document.getElementById("tokenPriceETH").innerHTML = Number(document.getElementById("tokenPriceUSD").innerHTML) / ethPriceUSD;
                        }
                    }
                }
            };
        }

        function getContractOwner() {
            contract.getContractOwner(function (error, contractOwner) {
                if (!error) {
                    contractOwnerAddress = contractOwner;
                } else
                    console.log(error);
            });
        }

        function getDelayDays() {
            let xmlHttpRequest = XMLHTTPRequestAsync("php/getDelayDays.php");

            xmlHttpRequest.onload = function () {
                if (xmlHttpRequest.readyState === 4) {
                    if (xmlHttpRequest.status === 200) {
                        ownerPanel.delayDays = Number(xmlHttpRequest.responseText);
                    }
                }
            }
        }

        function getChargePrice() {
            let xmlHttpRequest = XMLHTTPRequestAsync("php/getChargePrice.php");

            xmlHttpRequest.onload = function () {
                if (xmlHttpRequest.readyState === 4) {
                    if (xmlHttpRequest.status === 200) {
                        ownerPanel.chargePrice = Number(xmlHttpRequest.responseText);
                    }
                }
            }
        }

        function getUserList() {
            let xmlHttpRequest = XMLHTTPRequestAsync("php/getUserList.php");

            xmlHttpRequest.onload = function () {
                if (xmlHttpRequest.readyState === 4) {
                    if (xmlHttpRequest.status === 200) {
                        let userList = xmlHttpRequest.responseText.split("^");
                        let userTable = document.getElementById("userListTable");

                        for (let i = 0; i < userTable.rows.length; i++) {
                            userTable.deleteRow(i);
                        }

                        pucharsers = [];

                        for (let i = 0; i < userList.length - 1; i++) {
                            let userDataList = userList[i].split("_");
                            let row = userTable.insertRow(0);
                            let cell0 = row.insertCell(0);
                            let cell1 = row.insertCell(1);
                            let cell2 = row.insertCell(2);
                            let cell3 = row.insertCell(3);
                            let cell4 = row.insertCell(4);
                            let cell5 = row.insertCell(5);
                            let cell6 = row.insertCell(6);
                            let cell7 = row.insertCell(7);
                            let cell8 = row.insertCell(8);
                            let cell9 = row.insertCell(9);
                            let cell10 = row.insertCell(10);
                            let cell11 = row.insertCell(11);

                            cell0.innerHTML = userDataList[0];
                            cell1.innerHTML = userDataList[1];
                            cell2.innerHTML = userDataList[2];
                            cell3.innerHTML = userDataList[3];
                            cell4.innerHTML = userDataList[7];

                            pucharsers.push(
                                {
                                    ethAddress: userDataList[3],
                                    tokenAmountList: [],
                                    startDateList: []
                                }
                            );

                            let xmlHttpRequest = XMLHTTPRequestAsync("php/getTokenAmount.php?ethAddress=" + userDataList[3]);

                            xmlHttpRequest.onload = function () {
                                if (xmlHttpRequest.readyState === 4) {
                                    if (xmlHttpRequest.status === 200) {
                                        cell5.innerHTML = Number(xmlHttpRequest.responseText);
                                    }
                                }
                            }


                            cell6.innerHTML = userDataList[4];
                            cell7.innerHTML = userDataList[5];
                            cell8.innerHTML = userDataList[6];

                            var payButton = document.createElement('input');
                            payButton.type = "button";
                            payButton.className = "btn btn-primary btn-outline";
                            payButton.value = "Pay";
                            payButton.onclick = (function () {

                                if (Number(this.parentNode.parentNode.cells.item(7).innerHTML) > 0) {
                                    if (confirm("Confirm payment")) {
                                        let xmlHttpRequest = XMLHTTPRequestAsync("php/setPaid.php?ethaddress=" + this.parentNode.parentNode.cells.item(3).innerHTML);

                                        xmlHttpRequest.onload = function () {
                                            if (xmlHttpRequest.readyState === 4) {
                                                if (xmlHttpRequest.status === 200) {
                                                    alert("Payment done with success");
                                                    console.log(xmlHttpRequest.responseText);
                                                }
                                            }
                                        };
                                    }
                                } else alert("Payment cant be done - Unpaid value is 0");

                            });
                            cell9.appendChild(payButton);

                            var withdrawInputField = document.createElement('input');
                            withdrawInputField.type = "number";
                            withdrawInputField.className = "input-lg";
                            withdrawInputField.value = 0;
                            cell11.appendChild(withdrawInputField);

                            var withdrawButton = document.createElement('input');
                            withdrawButton.type = "button";
                            withdrawButton.className = "btn btn-primary btn-outline";
                            withdrawButton.value = "Withdraw tokens";
                            withdrawButton.onclick = (function () {
                                let withdrawValue = withdrawInputField.value;
                                if (Number(this.parentNode.parentNode.cells.item(5).innerHTML) >= withdrawValue && withdrawValue > 0) {
                                    if (confirm("Confirm withdraw")) {

                                        contract.setNumberOfAvailableTokens(withdrawValue, (error, result) => {
                                            if (!error) {

                                                let xmlHttpRequest = XMLHTTPRequestAsync("php/setWithdraw.php?ethaddress=" + this.parentNode.parentNode.cells.item(3).innerHTML + "&tokenstowithdraw=" + withdrawValue);

                                                xmlHttpRequest.onload = function () {
                                                    if (xmlHttpRequest.readyState === 4) {
                                                        if (xmlHttpRequest.status === 200) {
                                                            alert("Withdraw done with success");
                                                            console.log(xmlHttpRequest.responseText);
                                                        }
                                                    }
                                                };

                                                console.log(result);

                                            } else
                                                console.log(error);
                                        });
                                    }
                                } else alert("Withdraw cant be done - wrong Tokens amount to withdraw");

                            });
                            cell10.appendChild(withdrawButton);
                        }

                        if (!ethAddress) {
                            changeView(true, false, false);
                        } else if (ethAddress) {
                            if (!pucharsers.some(checkEthAddress)) {
                                changeView(false, true, false);
                            } else if (pucharsers.some(checkEthAddress)) {
                                changeView(false, false, true);
                            }
                        }
                    }
                }
            };
        }

        function getEthTransactionList() {
            let xmlHttpRequest = XMLHTTPRequestAsync("php/getEthTransactionList.php");

            xmlHttpRequest.onload = function () {
                if (xmlHttpRequest.readyState === 4) {
                    if (xmlHttpRequest.status === 200) {

                        let ethTransactionList = xmlHttpRequest.responseText.split("^");

                        let ethTransactionListTable = document.getElementById("ethTransactionListTable");
                        let ethTransactionsTable = document.getElementById("ethTransactionsTable");

                        for (let i = 0; i < ethTransactionListTable.rows.length; i++) {
                            ethTransactionListTable.deleteRow(i);
                        }
                        for (let i = 0; i < ethTransactionsTable.rows.length; i++) {
                            ethTransactionsTable.deleteRow(i);
                        }

                        tokenAmountList = [];
                        startDateList = [];

                        for (let i = 0; i < ethTransactionList.length - 1; i++) {
                            let ethTransactionDataList = ethTransactionList[i].split("_");
                            let row = ethTransactionListTable.insertRow(0);
                            let cell0 = row.insertCell(0);
                            let cell1 = row.insertCell(1);
                            let cell2 = row.insertCell(2);
                            let cell3 = row.insertCell(3);
                            let cell4 = row.insertCell(4);
                            let cell5 = row.insertCell(5);
                            let cell6 = row.insertCell(6);
                            let cell7 = row.insertCell(7);
                            let cell8 = row.insertCell(8);

                            cell0.innerHTML = new Date(ethTransactionDataList[0] * 1000);
                            cell1.innerHTML = ethTransactionDataList[1];
                            cell2.innerHTML = ethTransactionDataList[2];
                            cell3.innerHTML = ethTransactionDataList[3];
                            cell4.innerHTML = ethTransactionDataList[4];
                            cell5.innerHTML = ethTransactionDataList[5];
                            cell6.innerHTML = ethTransactionDataList[7];
                            cell7.innerHTML = ethTransactionDataList[8];

                            let currentTime = Number((Date.now() / 1000));
                            let transactionTime = Number(ethTransactionDataList[6]);
                            let day = (1 * 24 * 60 * 60);

                            cell8.innerHTML = Math.round((currentTime - transactionTime) / day)

                            if (ethAddress === ethTransactionDataList[3]) {
                                let row = ethTransactionsTable.insertRow(0);
                                let cell0 = row.insertCell(0);
                                let cell1 = row.insertCell(1);
                                let cell2 = row.insertCell(2);
                                cell0.innerHTML = new Date(ethTransactionDataList[0] * 1000);
                                cell1.innerHTML = ethTransactionDataList[4];
                                cell2.innerHTML = ethTransactionDataList[5];

                                tokenAmountList.push(Number(ethTransactionDataList[5]));
                                startDateList.push(Number(ethTransactionDataList[6]));
                            }
                        }
                    }
                }
            };
        }

        function getAddedTokens() {
            let xmlHttpRequest = XMLHTTPRequestAsync("php/getAddedTokens.php");

            xmlHttpRequest.onload = function () {
                if (xmlHttpRequest.readyState === 4) {
                    if (xmlHttpRequest.status === 200) {

                        let addedTokensList = xmlHttpRequest.responseText.split("^");
                        let addedTokensTable = document.getElementById("addedTokensTable");

                        for (let i = 0; i < addedTokensTable.rows.length; i++) {
                            addedTokensTable.deleteRow(i);
                        }

                        for (let i = 0; i < addedTokensList.length - 1; i++) {
                            let ethTransactionDataList = addedTokensList[i].split("_");
                            let row = addedTokensTable.insertRow(0);
                            let cell0 = row.insertCell(0);
                            let cell1 = row.insertCell(1);
                            cell0.innerHTML = new Date(ethTransactionDataList[0] * 1000);
                            cell1.innerHTML = ethTransactionDataList[1];
                        }
                    }
                }
            };
        }

        function getBitCoinTransactionList() {

            let xmlHttpRequest = XMLHTTPRequestAsync("php/getBitCoinTransactionList.php");

            xmlHttpRequest.onload = function () {
                if (xmlHttpRequest.readyState === 4) {
                    if (xmlHttpRequest.status === 200) {
                        let bitCoinTransactionsList = xmlHttpRequest.responseText.split("^");
                        let bitCoinTransactionsTable = document.getElementById("bitCoinTransactionsTable");

                        for (let i = 0; i < bitCoinTransactionsTable.rows.length; i++) {
                            bitCoinTransactionsTable.deleteRow(i);
                        }

                        contract.getNumberOfAllTokens((error, allTokens) => {
                            if (!error) {
                                let numberOfAllTokens = allTokens.toNumber();

                                for (let i = 0; i < bitCoinTransactionsList.length - 1; i++) {

                                    let bitCoinTransactionsDataList = bitCoinTransactionsList[i].split("_");

                                    for (let l = 0; l < tokenAmountList.length; l++) {

                                        if (Number(bitCoinTransactionsDataList[0]) >= startDateList[l]) {

                                            let row = bitCoinTransactionsTable.insertRow(0);
                                            let cell0 = row.insertCell(0);
                                            let cell1 = row.insertCell(1);
                                            let cell2 = row.insertCell(2);

                                            cell0.innerHTML = new Date(bitCoinTransactionsDataList[0] * 1000);
                                            cell1.innerHTML = ((Number(bitCoinTransactionsDataList[1]) - Number(bitCoinTransactionsDataList[3])) / numberOfAllTokens) * tokenAmountList[l];
                                            cell2.innerHTML = (Number(bitCoinTransactionsDataList[2]) / numberOfAllTokens) * tokenAmountList[l];
                                        }
                                    }
                                }

                            } else
                                console.log(error);
                        });
                    }
                }
            };
        }

        function XMLHTTPRequestAsync(url) {
            let xmlHttpRequest = new XMLHttpRequest();
            xmlHttpRequest.open("GET", url, true);
            xmlHttpRequest.send();
            return xmlHttpRequest;
        }

        function checkEthAddress(pucharser) {
            return pucharser.ethAddress === ethAddress;
        }

        function getPaymentHistory() {
            let xmlHttpRequest = XMLHTTPRequestAsync("php/getPaymentHistory.php");

            xmlHttpRequest.onload = function () {
                if (xmlHttpRequest.readyState === 4) {
                    if (xmlHttpRequest.status === 200) {
                        let paymentHistoryList = xmlHttpRequest.responseText.split("^");
                        let paymentHistoryTable = document.getElementById("paymentHistoryTable");

                        for (let i = 0; i < paymentHistoryTable.rows.length; i++) {
                            paymentHistoryTable.deleteRow(i);
                        }

                        for (let i = 0; i < paymentHistoryList.length - 1; i++) {
                            let paymentHistoryDataList = paymentHistoryList[i].split("_");
                            let row = paymentHistoryTable.insertRow(0);
                            let cell0 = row.insertCell(0);
                            let cell1 = row.insertCell(1);
                            let cell2 = row.insertCell(2);
                            let cell3 = row.insertCell(3);
                            let cell4 = row.insertCell(4);

                            cell0.innerHTML = new Date(paymentHistoryDataList[0] * 1000);
                            cell1.innerHTML = paymentHistoryDataList[1];
                            cell2.innerHTML = paymentHistoryDataList[2];
                            cell3.innerHTML = paymentHistoryDataList[3];
                            cell4.innerHTML = paymentHistoryDataList[4];

                        }
                    }
                }
            };
        }

        function changeView(showStart, showSignIn, showWalletAndTokens) {
            start.show = showStart;

            signIn.show = showSignIn;
            signIn.getAddress();

            wallet.show = showWalletAndTokens;
            wallet.getAddress();
            wallet.getEtherBalance();
            wallet.getBitCoinBalance();
            wallet.getNumberOfTokens();

            tokens.show = showWalletAndTokens;
            tokens.getTokenPrice();

            if (showWalletAndTokens) getPriceUSD();

            document.getElementById("transactions").style.visibility = showWalletAndTokens ? "visible" : "hidden";

            if (ethAddress === contractOwnerAddress) {

                getPriceUSD();
                signIn.show = false;
                wallet.show = true;
                wallet.getAddress();
                wallet.getEtherBalance();
                wallet.getBitCoinBalance();
                wallet.getNumberOfTokens();
                tokens.show = true;
                tokens.getTokenPrice();
                ownerPanel.show = true;
                ownerPanel.getNumberOfAllTokens();
                ownerPanel.getNumberOfAvailableTokens();
                ownerPanel.getNumberOfSoldTokens();
                getDelayDays();
                getChargePrice();

                document.getElementById("transactions").style.visibility =
                    document.getElementById("addedTokens").style.visibility =
                    document.getElementById("userList").style.visibility =
                    document.getElementById("ethTransactionList").style.visibility =
                    document.getElementById("paymentHistory").style.visibility = "visible";

                getPaymentHistory();

            } else if (ethAddress !== contractOwnerAddress) {
                ownerPanel.show = false;

                document.getElementById("addedTokens").style.visibility =
                    document.getElementById("userList").style.visibility =
                    document.getElementById("ethTransactionList").style.visibility =
                    document.getElementById("paymentHistory").style.visibility = "hidden";
            }
        }

    </script>

</body>

</html>