<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <title>Func Token Wallet</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet"
          type="text/css">
    <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32">
    <script src="js/web3.min.js"></script>
    <script src="js/vue.js"></script>

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body style="background-image: url(images/hero_bg.jpg)">

<div id="start" class="container" v-if="show" style="padding-left: 25%; padding-top: 15%">
    <h1>Your MetaMask is locked</h1>
    <h3>Simply open MetaMask and unlock your account</h3>
    <h3>If you don't know MetaMask <a target="_blank" href="https://youtu.be/tfETpi-9ORs">click here</a></h3>
</div>

<div id="signin" class="container" v-if="show" style="padding-left: 35%; padding-top: 10%">
    <h4>
        <label>Wallet Address</label>
        <br>
        <input class="input-lg" type="text" maxlength="100" readonly="" v-model="address"></h4>
    <h4>
        <label>First Name</label>
        <br>
        <input class="input-lg" type="text" placeholder="Felix" maxlength="40" v-model="firstname"></h4>
    <h4>
        <label>Last Name</label>
        <br>
        <input class="input-lg" type="text" placeholder="Lee" maxlength="40" v-model="lastname"></h4>
    <h4>
        <label>Email Address</label>
        <br>
        <input class="input-lg" type="email" placeholder="example@gmail.com" maxlength="100" v-model="email"></h4>
    <button class="btn btn-primary btn-outline" v-on:click="signIn">Sign In</button>
</div>

<div class="row" style="padding-left: 25px">
    <div id="wallet" class="col-md-5" v-if="show">
        <p class="page-header" style="color:wheat;">Wallet</p>
        <ul class="list-group">
            <li class="list-group-item">Address {{ address }}
            <li class="list-group-item">Ether Balance {{ etherBalance }}
            <li class="list-group-item">BitCoin Balance {{ bitCoinBalance }}
            <li class="list-group-item">Number Of Tokens {{ tokens }}
            </li>
        </ul>
    </div>

    <div id="tokens" class="col-md-5" v-if="show">
        <p class="page-header" style="color:wheat;">Buy Tokens</p>
        <ul class="list-group">
            <li class="list-group-item">Token Price (ETH) <span id="tokenPrice"/>
            <li class="list-group-item">Token Price (USD) <span id="tokenCourse"/>
            <li class="list-group-item">Amount <label><input class="input-lg" type="number"
                                                             v-model.number="amount"></label>
                <button class="btn btn-primary btn-outline" v-on:click="buyTokens">Buy</button>
            </li>
        </ul>
    </div>
</div>

<div id="ethTransactions" class="row" style="padding-left: 25px;visibility: hidden;">

    <div class="col-md-5">
        <p class="page-header" style="color:wheat;">ETH Transactions</p>
        <table class="table">
            <thead>
            <tr class="text-info">
                <th>Date</th>
                <th>Eth Amount</th>
                <th>Token Amount</th>
            </tr>
            </thead>
            <tbody id="ethTransactionsTable">
            </tbody>
        </table>
    </div>

    <!--<div class="col-md-5">-->
    <!--<p class="page-header" style="color:wheat;">Bitcoin Transactions</p>-->
    <!--<table class="table">-->
    <!--<thead>-->
    <!--<tr class="text-info">-->
    <!--<th>Date</th>-->
    <!--<th>TXID</th>-->
    <!--<th>Payment (BTC)</th>-->
    <!--<th>Fee (BTC)</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody id="bitCoinTransactionsTable">-->
    <!--</tbody>-->
    <!--</table>-->
    <!--</div>-->
</div>

<div class="row" style="padding-left: 25px">
    <div id="ownerPanel" class="col-md-6" v-if="show">
        <p class="page-header" style="color:wheat;">Owner Panel
            <button class="btn btn-primary btn-outline" v-on:click="refresh">Refresh</button>
        </p>
        <ul class="list-group">
            <li class="list-group-item">Number Of All Tokens {{ numberOfAllTokens }}
            <li class="list-group-item">Number Of Available Tokens {{ numberOfAvailableTokens }}
            <li class="list-group-item">Number Of Send Tokens {{ numberOfSoldTokens }}
            <li class="list-group-item">Set Token Price (USD) <label><input class="input-lg" type="number" step="0.01"
                                                                            v-model.number="price"></label>
                <button class="btn btn-primary btn-outline" v-on:click="setTokenPrice">Set</button>
            <li class="list-group-item">Set Number Of All Tokens <label><input class="input-lg" type="number"
                                                                               v-model.number="amount"></label>
                <button class="btn btn-primary btn-outline" v-on:click="setAllTokens">Set</button>
            <li class="list-group-item">Set Contract Owner <label><input class="input-lg" type="text"
                                                                         v-model="contractOwnerAddress"></label>
                <button class="btn btn-primary btn-outline" v-on:click="setContractOwner">Set</button>
            <li class="list-group-item">
                <button class="btn btn-primary btn-outline" v-on:click="destroyContract">Destroy Contract</button>
            </li>
        </ul>
    </div>
    <div id="addedTokens" class="col-md-5" style="visibility: hidden">
        <p class="page-header" style="color:wheat;">Added Tokens</p>
        <table class="table">
            <thead>
            <tr class="text-info">
                <th>Date</th>
                <th>Token Amount</th>
            </tr>
            </thead>
            <tbody id="addedTokensTable">
            </tbody>
        </table>
    </div>
</div>
<div id="userList" class="row" style="padding-left: 25px;visibility: hidden;">
    <div class="col-md-10">
        <p class="page-header" style="color:wheat;">User List</p>
        <table class="table">
            <thead>
            <tr class="text-info">
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Eth Address</th>
                <th>Tokens</th>
            </tr>
            </thead>
            <tbody id="userListTable">
            </tbody>
        </table>
    </div>
</div>
<div id="ethTransactionList" class="row" style="padding-left: 25px;visibility: hidden;">
    <div class="col-md-10">
        <p class="page-header" style="color:wheat;">ETH Transaction List</p>
        <table class="table">
            <thead>
            <tr class="text-info">
                <th>Date</th>
                <th>Sender</th>
                <th>Eth Amount</th>
                <th>Token Amount</th>
            </tr>
            </thead>
            <tbody id="ethTransactionListTable">
            </tbody>
        </table>
    </div>
</div>

<script>

    // let web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
    // web3.eth.defaultAccount = web3.eth.accounts[1];

    const config = {
        contractAddress: '0x05bfd66c2bc2b8c9139bb831ad92cb4ff791810b',
        contractAbi: [
            {
                "constant": true,
                "inputs": [],
                "name": "getTokenPrice",
                "outputs": [
                    {
                        "name": "",
                        "type": "uint256"
                    }
                ],
                "payable": false,
                "stateMutability": "view",
                "type": "function"
            },
            {
                "constant": true,
                "inputs": [
                    {
                        "name": "_address",
                        "type": "address"
                    }
                ],
                "name": "getNumberOfTokens",
                "outputs": [
                    {
                        "name": "",
                        "type": "uint256"
                    }
                ],
                "payable": false,
                "stateMutability": "view",
                "type": "function"
            },
            {
                "constant": true,
                "inputs": [],
                "name": "getNumberOfSoldTokens",
                "outputs": [
                    {
                        "name": "",
                        "type": "uint256"
                    }
                ],
                "payable": false,
                "stateMutability": "view",
                "type": "function"
            },
            {
                "constant": true,
                "inputs": [],
                "name": "getNumberOfAvailableTokens",
                "outputs": [
                    {
                        "name": "",
                        "type": "uint256"
                    }
                ],
                "payable": false,
                "stateMutability": "view",
                "type": "function"
            },
            {
                "constant": true,
                "inputs": [],
                "name": "getNumberOfAllTokens",
                "outputs": [
                    {
                        "name": "",
                        "type": "uint256"
                    }
                ],
                "payable": false,
                "stateMutability": "view",
                "type": "function"
            },
            {
                "constant": true,
                "inputs": [],
                "name": "getContractOwner",
                "outputs": [
                    {
                        "name": "",
                        "type": "address"
                    }
                ],
                "payable": false,
                "stateMutability": "view",
                "type": "function"
            },
            {
                "constant": false,
                "inputs": [],
                "name": "destroyContract",
                "outputs": [],
                "payable": false,
                "stateMutability": "nonpayable",
                "type": "function"
            },
            {
                "constant": false,
                "inputs": [
                    {
                        "name": "_address",
                        "type": "address"
                    }
                ],
                "name": "setContractOwner",
                "outputs": [],
                "payable": false,
                "stateMutability": "nonpayable",
                "type": "function"
            },
            {
                "constant": false,
                "inputs": [
                    {
                        "name": "value",
                        "type": "uint256"
                    }
                ],
                "name": "setNumberOfAllTokens",
                "outputs": [],
                "payable": false,
                "stateMutability": "nonpayable",
                "type": "function"
            },
            {
                "constant": false,
                "inputs": [
                    {
                        "name": "value",
                        "type": "uint256"
                    }
                ],
                "name": "setTokenPrice",
                "outputs": [],
                "payable": false,
                "stateMutability": "nonpayable",
                "type": "function"
            },
            {
                "inputs": [],
                "payable": false,
                "stateMutability": "nonpayable",
                "type": "constructor"
            },
            {
                "payable": true,
                "stateMutability": "payable",
                "type": "fallback"
            }
        ]
    };

    const contract = web3.eth.contract(config.contractAbi).at(config.contractAddress, (error, contract) => {
        return contract;
    });

    let ethAddress = contract._eth.coinbase;

    let start = new Vue({

        el: '#start',

        data: {
            show: false
        }
    });

    let signin = new Vue({

        el: '#signin',

        data: {
            show: false,
            address: null,
            firstname: null,
            lastname: null,
            email: null
        },

        methods: {
            getAddress() {
                if (this.show)
                    this.address = ethAddress;
            },

            signIn() {
                let xmlHttpRequest = XMLHTTPRequestAsync("php/setUser.php?firstname="
                    + this.firstname + "&lastname=" + this.lastname + "&email="
                    + this.email + "&ethaddress=" + this.address);

                xmlHttpRequest.onload = function () {
                    if (xmlHttpRequest.readyState === 4) {
                        if (xmlHttpRequest.status === 200) {
                            alert(xmlHttpRequest.responseText);
                        }
                    }
                };
            }
        }
    });

    let wallet = new Vue({

        el: '#wallet',

        data: {
            show: false,
            address: "",
            etherBalance: 0,
            bitCoinBalance: 0,
            tokens: 0
        },

        methods: {
            getAddress() {
                if (this.show)
                // this.address = web3.eth.defaultAccount;
                    this.address = ethAddress;
            },

            getEtherBalance() {
                if (this.show)

                    contract._eth.getBalance(this.address, (error, balance) => {
                        if (!error) {
                            this.etherBalance = web3.fromWei(balance, 'ether').toNumber();
                        } else
                            console.log(error);
                    })
            },

            getNumberOfTokens() {
                if (this.show)

                    contract.getNumberOfTokens(this.address, (error, tokens) => {
                        if (!error) {
                            this.tokens = tokens.toNumber();
                        } else
                            console.log(error);
                    })
            }
        }
    });

    let tokens = new Vue({

        el: '#tokens',

        data: {
            show: false,
            amount: null
        },

        methods: {

            getTokenPrice() {
                if (this.show)
                    contract.getTokenPrice(function (error, tokenPrice) {
                        if (!error) {
                            document.getElementById("tokenPrice").innerHTML = web3.fromWei(tokenPrice, 'ether').toNumber();
                        } else
                            console.log(error);
                    });
            },

            buyTokens: function () {
                if (this.amount <= 0) {
                    alert('Invalid amount!');
                    this.amount = null;
                    return;
                }

                let amount = this.amount;
                let sum = amount * document.getElementById("tokenPrice").innerHTML;
                let etherSum = web3.toWei(sum, 'ether');

                web3.eth.sendTransaction({
                    from: wallet.address,
                    to: contract.address,
                    value: etherSum,
                    gasLimit: 21000,
                    gasPrice: 20000000000
                }, function (error, result) {
                    if (!error) {

                        let xmlHttpRequest = XMLHTTPRequestAsync("php/setEthTransaction.php?date="
                            + new Date() + "&sender=" + wallet.address + "&ethamount="
                            + sum + "&tokenamount=" + amount);

                        xmlHttpRequest.onload = function () {
                            if (xmlHttpRequest.readyState === 4) {
                                if (xmlHttpRequest.status === 200) {
                                    console.log(xmlHttpRequest.responseText);
                                }
                            }
                        };
                    }
                    else
                        console.error(error);
                });

                wallet.getEtherBalance();
                wallet.getNumberOfTokens();
                ownerPanel.getNumberOfAllTokens();
                // getBitCoinInfo();
                this.amount = null;
            }
        }
    });

    let ownerPanel = new Vue({

        el: '#ownerPanel',

        data: {
            show: false,
            numberOfAllTokens: 0,
            numberOfAvailableTokens: 0,
            numberOfSoldTokens: 0,
            amount: null,
            price: null,
            contractOwnerAddress: null
        },

        methods: {
            // getContractOwnerAddress() {
            //
            //     if (this.show)
            //         contract.getContractOwner(function (error, contractOwner) {
            //             if (!error) {
            //                 if (wallet.address === contractOwner) {
            //                     this.show = true;
            //                 } else if (wallet.address !== contractOwner) {
            //                     this.show = false;
            //                 }
            //             } else
            //                 console.log(error);
            //         });
            // },

            getNumberOfAllTokens() {
                if (this.show)
                    contract.getNumberOfAllTokens((error, allTokens) => {
                        if (!error) {
                            this.numberOfAllTokens = allTokens.toNumber();
                        } else
                            console.log(error);
                    })
            },

            getNumberOfAvailableTokens() {
                if (this.show)
                    contract.getNumberOfAvailableTokens((error, availableTokens) => {
                        if (!error) {
                            this.numberOfAvailableTokens = availableTokens.toNumber();
                        } else
                            console.log(error);
                    })
            },

            getNumberOfSoldTokens() {
                if (this.show)
                    contract.getNumberOfSoldTokens((error, soldTokens) => {
                        if (!error) {
                            this.numberOfSoldTokens = soldTokens.toNumber();
                        } else
                            console.log(error);
                    })
            },

            setTokenPrice: function () {
                if (this.price <= 0) {
                    alert('Invalid amount!');
                    this.price = null;
                    return;
                }

                contract.setTokenPrice(web3.toWei(this.price / tokenCourse, 'ether'), (error, result) => {
                    if (!error) {
                        console.log(result);
                    } else
                        console.log(error);
                });

                tokens.getTokenPrice();
                getEthereumInfo();
                this.price = null;
            },

            setAllTokens: function () {
                if (this.amount <= 0) {
                    alert('Invalid amount!');
                    this.amount = null;
                    return;
                }

                let numberOfAllTokensTemp = this.numberOfAllTokens;
                let amountTemp = this.amount;

                contract.setNumberOfAllTokens(amountTemp, (error, result) => {
                    if (!error) {

                        let xmlHttpRequest = XMLHTTPRequestAsync("php/addToken.php?date="
                            + new Date() + "&tokenamount=" + (amountTemp - numberOfAllTokensTemp));

                        xmlHttpRequest.onload = function () {
                            if (xmlHttpRequest.readyState === 4) {
                                if (xmlHttpRequest.status === 200) {
                                    console.log(xmlHttpRequest.responseText);
                                }
                            }
                        };
                    } else
                        console.log(error);
                });

                this.getNumberOfAllTokens();
                this.getNumberOfAvailableTokens();
                this.getNumberOfSoldTokens();
                this.amount = null;
            },

            refresh: function () {
                tokens.getTokenPrice();
                getEthereumInfo();
                this.getContractOwnerAddress();
                this.getNumberOfAllTokens();
                this.getNumberOfAvailableTokens();
                this.getNumberOfSoldTokens();
            },

            setContractOwner: function () {
                if (this.contractOwnerAddress === null) {
                    alert('Invalid amount!');
                    this.contractOwnerAddress = null;
                    return;
                }

                contract.setContractOwner(this.contractOwnerAddress, (error, result) => {
                    if (!error) {
                        console.log(result);
                    } else
                        console.log(error);
                });
            },

            destroyContract: function () {
                contract.destroyContract((error, result) => {
                    if (!error) {
                        console.log(result);
                    } else
                        console.log(error);
                });
            }
        }
    });

    let tokenCourse = 0;

    getUserList();
    getEthTransactionList();
    getAddedTokens();
    // getBitCoinInfo();
    getEthereumInfo();

    function XMLHTTPRequestAsync(url) {
        let xmlHttpRequest = new XMLHttpRequest();
        xmlHttpRequest.open("GET", url, true);
        xmlHttpRequest.send();
        return xmlHttpRequest;
    }

    function checkEthAddress(item) {
        return item === ethAddress;
    }

    function changeView(showStart, showSignin, showWalletAndTokens) {
        start.show = showStart;

        signin.show = showSignin;
        signin.getAddress();

        wallet.show = showWalletAndTokens;
        wallet.getAddress();
        wallet.getEtherBalance();
        wallet.getNumberOfTokens();

        tokens.show = showWalletAndTokens;
        tokens.getTokenPrice();

        document.getElementById("ethTransactions").style.visibility = showWalletAndTokens ? "visible" : "hidden";

        contract.getContractOwner(function (error, contractOwner) {
            if (!error) {
                if (ethAddress === contractOwner) {

                    signin.show = false;
                    wallet.show = true;
                    wallet.getAddress();
                    wallet.getEtherBalance();
                    wallet.getNumberOfTokens();
                    tokens.show = true;
                    tokens.getTokenPrice();
                    ownerPanel.show = true;
                    ownerPanel.getNumberOfAllTokens();
                    ownerPanel.getNumberOfAvailableTokens();
                    ownerPanel.getNumberOfSoldTokens();

                    document.getElementById("ethTransactions").style.visibility = "hidden";
                    document.getElementById("addedTokens").style.visibility =
                        document.getElementById("userList").style.visibility =
                            document.getElementById("ethTransactionList").style.visibility = "visible";

                } else if (ethAddress !== contractOwner) {
                    ownerPanel.show = false;
                    document.getElementById("addedTokens").style.visibility =
                        document.getElementById("userList").style.visibility =
                            document.getElementById("ethTransactionList").style.visibility = "hidden";
                }
            } else
                console.log(error);
        });
    }

    function getUserList() {
        let xmlHttpRequest = XMLHTTPRequestAsync("php/getUserList.php");

        xmlHttpRequest.onload = function () {
            if (xmlHttpRequest.readyState === 4) {
                if (xmlHttpRequest.status === 200) {
                    let userList = xmlHttpRequest.responseText.split("^");
                    let ethAddressList = [];

                    let userTable = document.getElementById("userListTable");

                    for (let i = 0; i < userTable.rows.length; i++) {
                        userTable.deleteRow(i);
                    }

                    for (let i = 0; i < userList.length - 1; i++) {
                        let userDataList = userList[i].split("_");
                        let row = userTable.insertRow(0);
                        let cell0 = row.insertCell(0);
                        let cell1 = row.insertCell(1);
                        let cell2 = row.insertCell(2);
                        let cell3 = row.insertCell(3);
                        let cell4 = row.insertCell(4);
                        cell0.innerHTML = userDataList[0];
                        cell1.innerHTML = userDataList[1];
                        cell2.innerHTML = userDataList[2];
                        cell3.innerHTML = userDataList[3];
                        ethAddressList.push(userDataList[3]);
                        contract.getNumberOfTokens(userDataList[3], (error, tokens) => {
                            if (!error) {
                                cell4.innerHTML = tokens.toNumber();
                            } else
                                console.log(error);
                        });
                    }

                    if (!ethAddress) {
                        changeView(true, false, false);
                    } else if (ethAddress) {
                        if (!ethAddressList.some(checkEthAddress)) {
                            changeView(false, true, false);
                        } else if (ethAddressList.some(checkEthAddress)) {
                            changeView(false, false, true);
                        }
                    }
                }
            }
        };
    }

    function getEthTransactionList() {
        let xmlHttpRequest = XMLHTTPRequestAsync("php/getEthTransactionList.php");

        xmlHttpRequest.onload = function () {
            if (xmlHttpRequest.readyState === 4) {
                if (xmlHttpRequest.status === 200) {

                    let ethTransactionList = xmlHttpRequest.responseText.split("^");

                    let ethTransactionListTable = document.getElementById("ethTransactionListTable");
                    let ethTransactionsTable = document.getElementById("ethTransactionsTable");

                    for (let i = 0; i < ethTransactionListTable.rows.length; i++) {
                        ethTransactionListTable.deleteRow(i);
                    }
                    for (let i = 0; i < ethTransactionsTable.rows.length; i++) {
                        ethTransactionsTable.deleteRow(i);
                    }

                    for (let i = 0; i < ethTransactionList.length - 1; i++) {
                        let ethTransactionDataList = ethTransactionList[i].split("_");
                        let row = ethTransactionListTable.insertRow(0);
                        let cell0 = row.insertCell(0);
                        let cell1 = row.insertCell(1);
                        let cell2 = row.insertCell(2);
                        let cell3 = row.insertCell(3);
                        cell0.innerHTML = ethTransactionDataList[0];
                        cell1.innerHTML = ethTransactionDataList[1];
                        cell2.innerHTML = ethTransactionDataList[2];
                        cell3.innerHTML = ethTransactionDataList[3];

                        if (wallet.address === ethTransactionDataList[1]) {
                            let row = ethTransactionsTable.insertRow(0);
                            let cell0 = row.insertCell(0);
                            let cell1 = row.insertCell(1);
                            let cell2 = row.insertCell(2);
                            cell0.innerHTML = ethTransactionDataList[0];
                            cell1.innerHTML = ethTransactionDataList[2];
                            cell2.innerHTML = ethTransactionDataList[3];
                        }
                    }
                }
            }
        };

    }

    function getAddedTokens() {
        let xmlHttpRequest = XMLHTTPRequestAsync("php/getAddedTokens.php");

        xmlHttpRequest.onload = function () {
            if (xmlHttpRequest.readyState === 4) {
                if (xmlHttpRequest.status === 200) {

                    let addedTokensList = xmlHttpRequest.responseText.split("^");
                    let addedTokensTable = document.getElementById("addedTokensTable");

                    for (let i = 0; i < addedTokensTable.rows.length; i++) {
                        addedTokensTable.deleteRow(i);
                    }

                    for (let i = 0; i < addedTokensList.length - 1; i++) {
                        let ethTransactionDataList = addedTokensList[i].split("_");
                        let row = addedTokensTable.insertRow(0);
                        let cell0 = row.insertCell(0);
                        let cell1 = row.insertCell(1);
                        cell0.innerHTML = ethTransactionDataList[0];
                        cell1.innerHTML = ethTransactionDataList[1];
                    }
                }
            }
        };
    }

    function getBitCoinInfo() {

        let xmlHttpRequest = XMLHTTPRequestAsync("php/getBitCoinInfo.php");

        xmlHttpRequest.onload = function () {
            if (xmlHttpRequest.readyState === 4) {
                if (xmlHttpRequest.status === 200) {
                    let jsonObject = JSON.parse(xmlHttpRequest.responseText);

                    let payments = jsonObject.result.payments;
                    let current = jsonObject.result.current;

                    let table = document.getElementById("bitCoinTransactionsTable");

                    if (payments && current) {

                        for (let i = 0; i < table.rows.length; i++) {
                            table.deleteRow(i);
                        }

                        for (let i = 0; i < payments.length; i++) {
                            let row = table.insertRow(0);
                            let cell0 = row.insertCell(0);
                            let cell1 = row.insertCell(1);
                            let cell2 = row.insertCell(2);
                            let cell3 = row.insertCell(3);
                            cell0.innerHTML = new Date(payments[i].time * 1000);
                            cell1.innerHTML = payments[i].TXID;
                            cell2.innerHTML = (payments[i].amount / ownerPanel.allTokens) * wallet.tokens;
                            cell3.innerHTML = (payments[i].fee / ownerPanel.allTokens) * wallet.tokens;
                        }

                        wallet.bitCoinBalance = 0;
                        for (let i = 0; i < current.length; i++) {
                            wallet.bitCoinBalance += (Number(current[i].data[1]) / ownerPanel.allTokens) * wallet.tokens;
                        }
                    } else alert("Failed to load resource, request must wait every 30 seconds until stats are refreshed");
                }
            }
        };
    }

    function getEthereumInfo() {

        let xmlHttpRequest = XMLHTTPRequestAsync("php/getEthereumInfo.php");
        xmlHttpRequest.onload = function () {
            if (xmlHttpRequest.readyState === 4) {
                if (xmlHttpRequest.status === 200) {
                    let jsonObject = JSON.parse(xmlHttpRequest.responseText);
                    tokenCourse = Number(jsonObject[1].price_usd);
                    document.getElementById("tokenCourse").innerHTML = Number(document.getElementById("tokenPrice").innerHTML) * tokenCourse;
                }
            }
        };
    }

</script>

</body>

</html>